:root {
  --clr-dark: #1d1d1f;
  --clr-dark-blue: #394150;
  --clr-white: #fff;

  --text-light: var(--clr-white);
  --text-dark: var(--clr-dark);
  --text-dark-semi: var(--clr-dark-blue);

  --bg-item-count: var(--clr-dark);
  --bg-cart-items: #e5e7eb;
  --bg-light: #f3f4f6;

  --image-container-border: #d2d5da;

  /* Radius */
  --rounded-xs: 0.8rem;
  --rounded-sm: 1.2rem;
  --rounded-md: 1.6rem;
  --rounded-full: 100px;
}

/* Base Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  position: relative;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  background-image: url("../images/background-image.png");
  background-size: cover;
  background-position: center;
  height: 24rem;
  z-index: -1;
}

/* Typography */

.heading-primary {
  color: #fff;
  font-size: 2.4rem;
}

/* Main Styles */

.main {
  padding-inline: 1.2rem;
}

.heading-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 4rem 0;
}

.count {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.4rem 1.2rem;
  background-color: var(--bg-item-count);
  border-radius: var(--rounded-full);
}

/* Cart */
.cart-container {
  padding: 3.2rem;
}

.cart-container {
  background-color: var(--bg-cart-items);
}

.cart-items {
  border-radius: var(--rounded-md) var(--rounded-md) 0 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.cart-checkout {
  background-color: var(--bg-cart-checkout);
  border-radius: 0 0 var(--rounded-md) var(--rounded-md);
}

.item {
  display: flex;
  gap: 2.4rem;
}

.item-image-container {
  min-width: 10rem;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-light);
  border-radius: var(--rounded-sm);
  border: 1px solid var(--image-container-border);
}

.item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item-info-top {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-title {
  font-size: 1.6rem;
}

.item-color {
  font-weight: 600;
  color: var(--clr-dark-blue);
}

.item-info-bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.coupon-buttons {
  display: flex;
  gap: 0.8rem;
}

.coupon-input {
  width: 17.5rem;
  padding: 1.6rem;
  border: 1px solid #d2d5da;
  border-radius: var(--rounded-xs);
}

.coupon-btn {
  padding: 1.6rem 1.2rem;
  background-color: #1d1d1f;
  border-radius: var(--rounded-xs);
  border: none;
  width: 100%;
  color: #fff;
  font-weight: 600;
}

/* Utilities */

.divider {
  width: 100%;
  height: 1px;
  background-color: #d2d5da;
  margin: 2.4rem 0;
}
